* {
  font-family: "Nunito", sans-serif;
  font-family: "Open Sans", sans-serif;
}
body {
  background-color: #232325;
}

.aboutMe-content {
  text-indent: 1rem;
}

.reactJs {
  color: #00d8ff;
  font-weight: 700;
}

.bolder-font {
  font-weight: 700;
}
.github-text {
  font-family: "Nunito";
  color: #f4cbb2;
}
